.configureIcon {
     background-image:url(cog_alt_16x16.png);
}
.fullscreenIcon {
    background-image:url(fullscreen_16x16.png);
}
.syncIcon {
    background-image:url(link_16x16.png);
}
.leftArrowIcon {
    background-image:url(arrow_left_16x16.png);
}
.rightArrowIcon {
    background-image:url(arrow_right_16x16.png);
}
.exitFullscreenIcon {
    background-image:url(fullscreen_exit_16x16.png);
}
/* override bootstrap CSS for Ext form elements */
#tableappwindow .x-form-checkbox {
    width:13px;
}
.x-form-item-body label {
    display: inline;
}
.x-box-inner .x-tool img {
    height: 18px;
}
#tableappwindow input[type="text"], .tableapp input[type="text"] {
    margin-bottom:0px;
}
.tableapp input[readonly] {
    cursor:default;
}
/* don't wrap table entries so that apparatus remains aligned */
.tableapp td {
    white-space:nowrap;
    padding:0;
    border:0;
    vertical-align:top;
}
#apparatus tr td:nth-child(2) {
    padding-left:40px;
}
.tableapp tr {
    border:0;
    border-bottom:1px solid white;
}
.tableapp table {
    border:0;
    border-spacing: 0px 2px;
}
.tableapp table.inline:hover {cursor:pointer}
.tableapp table.inline { display: inline-table; position: relative; }
/* Formatting for text and table view contents */
.tableapp h1 {font-size:130%;}
.tableapp h2 {font-size: 120%;}
.tableapp h3 {font-size: 110%;}

.tableapp td.siglum, .tableapp td.siglumleft {
    color: #51666b;
    font-style:italic;
    padding-right:10px;
    padding-left: 3px;
    position:absolute; 
    left:0;
    top:auto;
    background-color:white;
    z-index: 100;
    width: 40px;
}
.tableapp td.siglumhidden {
    display: none;
}
.tablapp tr.shown {
    display: table-row;
}
.tableapp tr.hidden {
    display: none;
}
p.stage-italic { 
    color: #51666b;
    font-style: italic;
    margin-top:1em;
    margin-bottom:1em;
}
p.stage { 
    color: #51666b;
    margin-top:1em;
    margin-bottom:1em;
}
span.speaker {
    font-weight: bold
}
br.l {}
p.sp {
    line-height:2em;
}
span.italics {
    font-style: italic
}
span.bold {
    font-weight: bold;
}
span.deleted {
   background-color:#FFDFDF;
   border-radius: 3px;
}
span.added, span.inserted {
    background-color:#E0EAF8;
    border-radius: 3px;
    position: relative;
}
span.base { 
   border-bottom: 1px dotted #ba0000;
}
span.left {
    position: relative;
    float:left;
}
span.right {
    position: relative;
    float:right;
}
span.inserted-left {
    position: relative;
    float: left;
    background-color: #E0EAF8;
    border-radius: 3px;
}
span.inserted-right {
    position: relative;
    float: right;
    background-color: #E0EAF8;
    border-radius: 3px;
}
span.merged { -hrit-mergeid: id }
a.parent { 
    color:black;
    border-bottom: 1px dashed purple; 
    -hrit-childid: href 
}
a.child { 
    color:black;
    border-bottom: 1px dashed purple; 
    -hrit-parentid: href }

