.configureIcon {
     background-image:url(cog_alt_16x16.png);
}
.fullscreenIcon {
    background-image:url(fullscreen_16x16.png);
}
.exitFullscreenIcon {
    background-image:url(fullscreen_exit_16x16.png);
}
/* override bootstrap CSS for Ext form elements */
#tableappwindow .x-form-checkbox {
    width:13px;
}
.x-form-item-body label {
    display: inline;
}
.x-box-inner .x-tool img {
    height: 18px;
}
#tableappwindow input[type="text"], .tableapp input[type="text"] {
    margin-bottom:0px;
}
.tableapp input[readonly] {
    cursor:default;
}
/* don't wrap table entries so that apparatus remains aligned */
.tableapp td {
    white-space:nowrap;
    padding:0;
    border:0;
}
.tableapp tr {
    border:0;
}
.tableapp table {
    border:0;
    border-spacing: 0px 2px;
}
.tableapp table.inline:hover {cursor:pointer}
.tableapp table.inline { display: inline-table; position: relative; }
/* Formatting for text and table view contents */
.tableapp h1 {font-size:130%;}
.tableapp h2 {font-size: 120%;}
.tableapp h3 {font-size: 110%;}
.tableapp td.siglum {
    color: #51666b;
    font-style:italic;
    padding-right:10px;
    padding-left: 3px;
}
.tableapp td.siglumhidden {
    display: none;
}
.tablapp tr.shown {
    display: table-row;
}
.tableapp tr.hidden {
    display: none;
}
p.stage-italic { 
    color: #51666b;
    font-style: italic;
    margin-top:1em;
    margin-bottom:1em;
}
p.stage { 
    color: #51666b;
    margin-top:1em;
    margin-bottom:1em;
}
span.speaker {
    font-weight: bold
}
br.l {}
p.sp {
    line-height:2em;
}
span.italics {
    font-style: italic
}
span.bold {
    font-weight: bold;
}
span.deleted {
    color: red
}
span.added, span.inserted {
    color: blue;
    position: relative;
}
span.base { 
    border-bottom: 1px dotted #ba0000;
}
span.left {
    position: relative;
    float:left;
}
span.right {
    position: relative;
    float:right;
}
span.inserted-left {
    position: relative;
    float: left;
    color: blue
}
span.inserted-right {
    position: relative;
    float: right;
    color: blue
}
span.merged { -hrit-mergeid: id }
a.parent { color: #eeeeee; -hrit-childid: href }
a.child { color: #eeeeee; -hrit-parentid: href }

